html,
body {
  background-color: rgb(48, 48, 48);
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 40px;
}

button,
.changeGridNumber {
  background-color: rgb(81, 81, 81);
  color: white;
  padding: 10px;
  border-radius: 0px;
  border: solid;
  font-weight: bold;
}
button:hover,
.changeGridNumber:hover {
  border-color: rgb(255, 255, 255);
  background-color: rgb(70, 70, 70);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  color: white;
  font-weight: bold;
  font-size: 35px;
}
.container {
  display: flex;
  border: 1px solid white;
  width: 90vmin;
  height: 90vmin;
  flex-wrap: wrap;
  margin-bottom: 20px;
  touch-action: none;
}

.cell {
  border: 1px solid white;
  flex-wrap: wrap;
  display: flex;
}

.cell:hover {
  background-color: rgb(107, 107, 107);
}

#colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#colorPicker::-webkit-color-swatch {
  border-radius: 0px;
  border: 2px solid white;
}

#colorPicker::-moz-color-swatch {
  border-radius: 0px;
  border: 2px solid white;
}
